.About {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 3vh;
  padding: 0;
  padding-bottom: 5vh;

  & .img {
    width: 100vw;
    height: 30vh;
    background-image: url('https://media.discordapp.net/attachments/1096009689952690210/1380283152916025384/Bueiro-sem-tampa-na-Rua-Professor-Brito-Machado-1.png?ex=6843505c&is=6841fedc&hm=68eccd06a509acabc15271db49429bddda381e0c65cdcabeadf7a3c95370c546&=&format=webp&quality=lossless');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: -500px;
  }

  & .holder {
    display: flex;
    flex-direction: column;
    padding: 1vh 5vw;
    gap: 2vh;

    & h1 {
      font-size: 2vw;
      font-weight: 800;
      color: var(--blue);
    }

    & h2 {
      font-size: 1.5vw;
      font-weight: 700;
      padding-left: 0.3vw;
    }

    & p, li {
      font-size: 1vw;
      font-weight: 400;
      padding-left: 0.3vw;
    }

    & span {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 768px) {
  & .About {
    & .img {
      height: 10vh;
      background-size: 100%;
      background-position-y: -55px;
    }

    & .holder {
      & h1 {
        font-size: 3vh;
      }
      & h2 {
        font-size: 1.5vh;
      }
      & p, li {
        font-size: 1.1vh;
      }
  }
  }
}