.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 93vh;
  gap: 2vh;

  & * span {
    color: var(--blue);
    font-weight: 700;
  }

  & img {
    height: 20vw;
  }

  & div {
    & div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    & h1 {
    font-size: 3vw;
    }

    & h2 {
      font-size: 1.5vw;
      font-weight: 500;
      color: var(--gray);
    }

    & .button {
      font-size: 1.4vw;
      font-weight: 600;
      background-color: var(--blue);
      color: #fff;
      padding: 1.29vh 1.65vw;
      border-radius: 1000px;
      margin: 1.5vh 0;

      &:hover {
        transform: scale(1.029);
      }

      &:active {
        transform: scale(1);
      }
    }

    & p {
      font-size: 0.8vw;
      font-weight: 600;
      color: var(--gray);
    }
  }
  }
}

@media screen and (max-width: 768px) {
  .Home {
    flex-direction:column-reverse;
    height: 86vh;

    & img {
      height: 25vh;
    }

    & div {
      & div {
        align-items: center;

        & h1 {
          font-size: 4vh;
          text-align: center;
        }

        & h2 {
          font-size: 2vh;
          font-weight: 600;
          text-align: center;
        }

        & .button {
          font-size: 2vh;
          padding: 1vh 5vw;
        }

        & p {
          font-size: 1.1vh;
        }
      }
    }
  }
}